body{
    text-align: center;
}

form{
    background-color: coral;
    padding: 20px;
    border-radius: 40px;
    display: inline-block;
    text-align: right;
    margin-top: 50px;
}

button{
    background-color: rgb(46, 168, 62);
    border: none;
    padding: 10px 20px;
    margin: 20px auto 0px auto;
    color: #dbebea;
    border-radius: 20px;
    text-align: center;
    display: block
}
